@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    margin: 0;
    padding: 0;
    max-height: 100vh;
    width: 100%;
    height: 100%;
}

#app {
    height: 100%;
    width: 100%;
    /*background: #263238;*/
    background: url("bg.png");
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
}

#nav {
    background-color: #000a12;
    padding: 30px;
    height: 15%;
}

#nav a {
    font-weight: bold;
    color: #ffffff;
}

#nav a.router-link-exact-active {
    color: #f6b93b;
}

#router-view {
    width: 100%;
    height: 75%;
    flex-direction: column;
}

#end {
    background-color: #4f5b62;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    height: 10%;
}

table {
    width: 100%;
    max-height: 300px;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-color: white;
}

.editable table {
    opacity: 0.7;
}

.info {
    height: 40px;
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    color: #f6b93b;
}

.msg {
    height: 150px;
    width: 100%;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    background-color: #4f5b62;
    border-color: black;
    color: #f6b93b;
    display: flex;
    align-items: center;
    justify-content: center;
}

tr {
    background-color: #000a12;
    color: white;
    font-size: 30px;
}

td {
    background-color: #ffffff;
    font-size: 20px;
    color: black;
}

tbody tr:hover {
    cursor: pointer;
    background-color: #f6b93b;
}

tbody tr:hover td {
    background-color: transparent;
}

.page, .disPage {
    font-size: 15px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #4f5b62;
    padding: 0px 5px;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    animation-delay: 0.1s;
}

.page:hover {
    background-color: #f6b93b;
}

.disPage:hover {
    background-color: #4f5b62;
    cursor: default;
}

.direction {

}

.filter {
    font-size: 15px;
    width: 200px;
    margin-left: 5px;
    margin-bottom: 15px;
    padding: 2px;
    height: 30px;
    border-color: black;
    text-transform: uppercase;
    float: right;
}

button {
    /*min-width: 200px;*/
    font-size: 30px;
    padding: 5px 10px;
    border-color: #000a12;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    background-color: #4f5b62;
    margin: 20px;
}

button:hover {
    background-color: #f6b93b;
}

form {
    margin: 0px;
    width: 100%;
    padding-left: 100px;
    padding-right: 200px;
}

.editfield {
    width: 100%;
    display: flex;
    margin: 5px;
}

label {
    width: 35%;
    margin: 0;
    padding: 10px;
    font-size: 20px;
    border-color: #4f5b62;
    color: #f6b93b;
    display: flex;
    align-items: end;
    justify-content: right;
}

input, select {
    margin: 0;
    width: 65%;
    padding: 10px;
    font-size: 20px;
    border-color: #4f5b62;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 5px;
    border-bottom-width: 5px;
}

button.filter {
    margin: 0 0 0 5px;
    background-color: white;
    width: 40px;
}

input:focus, select:focus, button.filter:focus {
    outline-width: 5px;
    outline-color: #f6b93b;
}

.player {
    margin: 0;
    width: 65%;
    padding: 10px;
    font-size: 20px;
    border-color: #4f5b62;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    text-align: left;
    background-color: white;
    color: #f6b93b;
}

.tableNoPointers tr {
    pointer-events: none;
}

.loader {
    color: #f6b93b;
    font-weight: bold;
    flex-direction: column;
    margin-left: 400px;
    padding: 30px;
    letter-spacing: 0.05em;
}

.loader p {
    margin-top: 100px;
    font-size: 50px;
}

.loader div {
    font-size: 250px;
}
